// 重置默認樣式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 文字溢出省略
.text-ellipsis-2 {
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

//導航返回箭頭
.van-nav-bar {
  .van-nav-bar__arrow{
    color: #333;
  }
}